/************************************ VARIABLES **************************************/
:root {
  --bg-color: #ffffff;
  --primary-color: #000000;
  --secundary-color: #20252d;
  --third-color: #8f8989;
  --fourth-color: #dbdbdb;
  --fifth-color: #ececec;
  --normal-font: "Roboto", sans-serif;
  --secundary-font: "Nunito", sans-serif;
  --titulo-font: "Licorice", cursive;

  --max-width: 1200px;
  --header-height: 5rem;
}
/************************************ RESET **************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: var(--normal-font);
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  transition: all 0.3s ease-out;
  color: var(--bg-color);
}
a:hover {
  opacity: 0.75;
}
img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}
.none {
  display: none;
}

/************************************ HEADER COMUN TODAS PAG**************************************/
header {
  background-color: var(--primary-color);
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 1rem;
}
header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #img_logo {
  height: 3.5rem;
}
/* --------------- MENU COMUN TODAS PAG--------------*/
.menu_btn {
  background-color: transparent;
  border: 0;
  color: var(--bg-color);
  font-size: 30px;
  width: 36px;
  height: 36px;
}

.menu {
  position: fixed;
  left: 0;
  top: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--secundary-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}
.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}
.menu a {
  padding: 1rem;
  font-size: 1.2rem;
  /* font-weight: bold; */
  text-align: center;
  text-decoration: none;
  color: var(--bg-color);
}

.menu a:hover {
  color: var(--secundary-color);
  background-color: var(--bg-color);
  /* font-family: var(--secundary-font); */
}

/* opciones extras menu destinos */
.dropdown{
  width: 100%;
  text-align: center;
  padding: 1rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--secundary-color); /* Color de fondo del menú desplegable */
  width: inherit;
  /* min-width: 160px; */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: var(--bg-color); /* Color de texto del menú desplegable */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--bg-color-hover); /* Color de fondo al pasar el cursor sobre una opción */
}

@media screen and (min-width: 1024px){
  .dropdown{
    height: auto;
    padding: 0;
  }
  .dropdown-content{
    width: 200px;
  }
  .dropdown-content a:last-child{
    padding: 0px !important;
  }
}



/************************************ FOOTER COMUN TODAS PAG**************************************/
footer {
    background-color: var(--primary-color);
    width: 100%;
    min-height: max-content;
    color: #ffffff;
    text-align: center;
    font-family: var(--normal-font);
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }
  
  footer > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  footer .container > div {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--bg-color);
    width: 100%;
  }
  #footer_logo {
    width: 25%;
    height: auto;
  }
  .menu_footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .menu_footer a {
    width: 40%;
    height: 3rem;
  }
  
  .redes {
    display: flex;
    font-size: 1.6rem;
    justify-content: space-evenly;
  }


/************************************ PAG. INDEX (MOBILE)**************************************/


/* ----------------------------SECTION 1: IMAGEN PRINCIPAL (MOBILE)----------------------*/
#section_imagen_titulo{
    width: 100%;
    background-image: url(../img/habitaciongris.webp);
    background-size: cover;
    background-position: center;
    height: 70vh;
    box-shadow: inset 0 0 0 2000px rgba(37, 37, 45, 0.5);

    display: flex;
    align-items: center;
}
#linea1 {
  padding-left: 5%;
  color: #ffffff;
  font-family: var(--titulo-font);
  font-size: 4rem;
  width: 75%;
  line-height: 4rem;
}
#linea2 {
  padding-left: 5%;
  color: #ffffff;
  font-family: var(--secundary-font);
  font-size: 4rem;
}

/* ----------------------------SECTION 2: TEXTO DESCRIPCION (MOBILE)----------------------*/
#section_descripcion{
    margin-top: 3rem;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--fifth-color);
}
#div_titulo_descripcion {
  width: 100%;
  font-family: var(--titulo-font);
}
#div_titulo_descripcion > h2 {
  font-size: 3rem;
}
#div_texto_descripcion {
  width: 100%;
  text-align: justify;
}
#div_texto_descripcion > p {
  line-height: 1.5rem;
  color: var(--secundary-color);
  font-family: var(--normal-font);
}

/* ----------------------------SECTION 3: DESTINOS (MOBILE)----------------------*/

#section_destinos {
  height: max-content;
  background-color: var(--fourth-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}

#div_titulo_destinos {
  text-align: center;
  width: 100%;
  font-family: var(--titulo-font);
}
#div_titulo_destinos > h2 {
  font-size: 3rem;
}

#div_area_destinos {
  margin-top: 1rem;
  /* margin: 0 auto; */
  /* width: 90%; */
  height: max-content;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.destino {
  height: 17rem;
  width: 75%;
  margin-bottom: 1rem;
  position: relative;
}
.nombre_destino {
  z-index: 99;
  position: absolute;
  /* width: 60%; */
  height: max-content;
  top: 5%;
  left: 5%;
  /* transform: translate(-50%,-50%); */
  background-color: rgba(240, 234, 234, 0.5);
  color: var(--primary-color);
  font-family: var(--titulo-font);
}
.nombre_destino > h2 {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 0;
}

.imagen_destino {
  width: 100%;
  height: 100%;
}

.imagen_destino > img {
  height: 100%;
  width: 100%;
  opacity: 1;
  object-fit: cover;
}


/* ----------------------------SECTION 4: REDES SOCIALES (MOBILE)----------------------*/

#section_rs {
    background-color: var(--primary-color);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
  }
  
  .fotos_rs {
    display: none;
    width: 100%;
  }
  
  .texto_rs {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  .texto_rs #titulo_rs {
    font-size: 3.5rem;
    line-height: 3rem;
    font-family: var(--secundary-font);
    margin-bottom: 2rem;
  }
  .texto_rs #texto_rs {
    font-size: 1.5rem;
    font-family: var(--secundary-font);
    margin-bottom: 2rem;
  }
  .texto_rs #logo_rs {
    font-size: 1.5rem;
    font-family: var(--secundary-font);
    display: flex;
    justify-content: space-between;
  }
  
  /* ----------------------------SECTION 5: OPINIONES (MOBILE)----------------------*/
  #section_opiniones {
    background-color: var(--secundary-color);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #div_titulo_opiniones > h2 {
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--titulo-font);
  }
  #div_area_opiniones {
    display: flex;
    flex-wrap: wrap;
    color: var(--bg-color);
    justify-content: center;
    margin-top: 50px;
    font-family: var(--normal-font);
  }
  .opinion {
    margin-bottom: 1rem;
    border: 1px dotted var(--bg-color);
    padding: 5px;
    width: 90%;
    font-size: 1rem;
    line-height: 0.8rem;
  }


/* ****************************** PAG. CONTACTO *************************** */  

#section_imagen_titulo2 {
  width: 100%;
  background-image: url(../img/sillaplayera.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.5);
  display: flex;
  align-items: normal;
}
.contacto {
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 10em;
  padding-right: 1em;
  flex-direction: column;
  padding-top: 7em;
  padding-left: 1em;

}
.contacto input {
  background-color: transparent;
  margin-bottom: 1em;
  border: 2px solid white;
}
.contacto input::placeholder {
  color:white;
}
.contacto .form-control {
  background-color: transparent;
  border: 2px solid white;
}
.contacto .form-select {
  background-color: transparent;
  border: 1.5px solid white;
}
.contacto textarea {
  background-color: transparent;
  margin-top: 1em;
  border: 2px solid white;
}
.contacto textarea::placeholder {
  color: white;
}
#titContac {
  position: absolute;
  padding-top: 2em;
  padding-left: 1%;
  font-family: var(--titulo-font);
  font-size: 3rem;
  font-weight: 300;
  object-fit: cover;
  color:white; 
}
.recibInfo {
  font-size: medium;
  font-weight: 500;
  color: white;
}
input.button {
  margin:0.5em;
  padding:0.5em;
  border-radius: 3%;
  color:white; 
  border: 2px solid white;
}
.button:hover {
  background-color: grey;
}

/* ****************************** PAG. ACTIVIDADES *************************** */  
/* Actividades */
#titulo-actividades {
  color: #000000;
  padding-top: 1.5em;
  text-align: center;
  font-family: var(--titulo-font);
  font-size: 4em;
  font-weight: 600;
}

/* ****************************** PAG. DESTINOS (MOBILE) *************************** */  
/* ----Section 1: imagen principal ---- */
#section_destinos_imagen_principal{
  width: 100%;
  background-image: url(../img/chicamapa.jpg);
  background-size:cover;
  background-position: right;
  height: 70vh;
  box-shadow: inset 0 0 0 2000px rgba(37, 37, 45, 0.5);
}
/* ----Section 2: texto descripcion ---- */
#section_destinos_descripcion{  
  margin:0 auto;
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
#titulo_destinos{
  color: var(--primary-color);
  font-family: var(--titulo-font);
  font-size: 4rem; 
  text-align: center;
}
#div_destinos_descripcion_texto{
  line-height: 1.5rem;
  color: var(--third-color);
  font-family: var(--normal-font); 
}
/* ----Section 3: tarjetas destinos ---- */
#section_tarjetas{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--fourth-color);
}
.tarjeta_destino{
  width: 90%;
  -webkit-box-shadow:2px 1px 10px 0 rgba(0,0,0,.2);
  box-shadow:2px 1px 10px 0 rgba(0,0,0,.2);
  margin:0 auto;
  margin-bottom: 1.5rem;
  background-color: var(--bg-color);
}
.imagen_tarjeta_destino > img{
  width: 100%;
  height: 100%;
}
.texto_tarjeta_destino{
  padding: 10px;
}
.texto_tarjeta_destino h2{
  font-family: var(--titulo-font);
  font-size: 3.5rem; 
}
.texto_tarjeta_destino p{
  color:var(--secundary-color);
}

 
/************************************ MEDIA QUERIES **************************************/
@media screen and (min-width: 768px){

    /* tablet */

}
@media screen and (min-width: 1024px){
    
    /* PC, laptop */

    /* --------- HEADER (pantallas grandes)------- */
    .header{
      position: fixed;
      padding: 0.5rem;
      height: calc(var(--header-height) - 0.5rem);
    }

    /* --------- MENU (pantallas grandes) -------- */
    .menu_btn{
      display: none;
    }
    .menu{
      position:static;
      opacity: 1;
      pointer-events: auto;
      width:auto;
      flex-direction: row;
      background-color: transparent;
    }
    .menu a{
      padding: 0 1rem;
    }
    .menu a:last-child{
      padding-right: 0;
    }
    .menu a:hover{
      background-color: transparent;
      color:#0d6efd;
    }

    /* --------FOOTER (pantallas grandes) ------- */
    footer > .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.1rem solid var(--bg-color);
      padding-top: 1rem;
    }
    footer .container > div{
      margin-bottom: 1rem;
      padding: 0.5rem;    
      width: 30%;
      border: 0;
    }
    #footer_logo{
      width: 40%;
      height: auto;
    }
    footer .menu_footer{
      border-left: 0.1rem solid var(--bg-color);
      border-right: 0.1rem solid var(--bg-color);
    }

    /* --------------------- ******* PAG. INDEX (pantallas grandes) ******* ---------------------*/

    /* ------- SECTION 1: IMAGEN PRINCIPAL (pantallas grandes) ------*/
    #section_imagen_titulo{
      height: 90vh;
    }
 

    /* --------- SECTION 2: TEXTO DESCRIPCION (pantallas grandes) ---------*/
    #section_descripcion{
      flex-wrap: nowrap;
      background-color: var(--bg-color);
    }
    #div_titulo_descripcion{
      width: 40%;   
    }
    #div_titulo_descripcion > h2{
      font-size: 4rem;
    }
    #div_texto_descripcion{
      width:60%;
    }
    #div_texto_descripcion > p{
      line-height: 1.8rem;
      color:var(--secundary-color);
    }

    /* --------- SECTION 3: DESTINOS (pantallas grandes) -------*/

    #div_area_destinos{
      justify-content: space-between;
    } 
    .destino{
      height: 15rem;
      width: 30%;
    }
    .nombre_destino > h2{
      font-weight: 550;
      font-size: 3rem;
    }

    /* --------- SECTION 4: REDES SOCIALES (pantallas grandes) -------*/

    #section_rs{
      display: flex;
      flex-wrap: wrap;
      padding:0;
    }
    .fotos_rs{
      display:inline-block;
      width: 50%;
    }
    .fotos_rs img{
      height: 430px;
      width: 100%;
    }
    .texto_rs{
      width: 50%;
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .texto_rs #titulo_rs{
      font-size: 2.5rem;
      font-family: var(--secundary-font);
      margin-bottom: 1rem;
      width: 100%;
    }
    .texto_rs #texto_rs{
      font-size: 1.3rem;
      font-family: var(--secundary-font);
      margin-bottom: 1rem;
      width: 100%;
    }
    .texto_rs #logo_rs{
      font-size: 1.5rem;
      font-family: var(--secundary-font);
      display: flex;
      justify-content: space-between;
      width: 80%;
      max-width: 500px;
    }

    /* ------- SECTION 5: OPINIONES (pantallas grandes) -----------*/
    #div_titulo_opiniones > h2{
      font-size:4rem;
    }
    #div_area_opiniones{
        justify-content: space-around;    
    }
    .opinion{
      width: 30%;
      text-align: justify;
      font-size: 1rem;
      line-height: .8rem;
    }

  /* ------------- ******* PAG. CONTACTO  (pantalla grande) ******* ----------*/

    #section_imagen_titulo2 {
      background-position: center;
      height: 115vh;
      display: flex;
      align-items: center;
    }

    .contacto {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      margin-top: 6em;
      padding-left: 1.5em;
      flex-direction: row;
      padding-top: 1em;
    }
    .contacto input {
      margin-bottom: 1em;
    }

    .contacto textarea {
      margin-top: 1em;
    }

    #titContac {
      position: relative;
      margin-bottom: 1em;
      font-size: 4.3rem;
      padding-left: 0.3em;
      font-weight: 600;
    }
    .recibInfo {
      font-size: medium;
    } 
     
    /* ------------- ******* PAG. ACTIVIDADES  (pantalla grande) ******* ----------*/
    /* Actividades */
    #titulo-actividades {
      font-size: 5.5em;
    }

    /* ************* PAG. DESTINOS (pantallas grandes) **************** */  
    .tarjeta_destino{
      display: flex;
    }
    .imagen_tarjeta_destino{
      width: 50%;
    }
    .texto_tarjeta_destino{
      width: 50%;
    }
}

